{% extends 'blogs/base.html' %}

{% block content %}

    <article class="container mx-auto dark:text-gray-200">
        <form action="#" method="post">

            <div class="mt-6">
                <a href="{% url 'admin_blogs' %}" class="inline-flex items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="inline-block w-6 h-6 mr-2">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M9 15L3 9m0 0l6-6M3 9h12a6 6 0 010 12h-3"></path>
                    </svg> go back
                </a>
            </div>
            <h1 class="text-3xl text-teal-100 my-10">Give your new blog a name.</h1>
            <p class="my-4">
                We'll create a repo with this name on your Github account.
                <br><small>You can also use the name of an existing repo.</small>
            </p>

            {% csrf_token %}
            {{ form }}

            <div class="block">
                <input type="submit" value="Start!" class="my-6 text-white bg-teal-600 rounded-full py-5 px-10">
            </div>

        </form>

    </article>

{% endblock %}