{% extends 'pages/base.html' %}

{% block body %}

    {% if user.is_authenticated %}
        <nav class="p-5 border-teal-500 bg-teal-700 flex items-center">
            <a class="dark:text-white text-2xl" href="/dashboard">Gitblog</a>
            <ul class="grow flex justify-end">
                <li class="mx-5"><a href="" class="dark:text-gray-200">{{ user.name }}</a></li>
            </ul>
        </nav>
    {% endif %}


    <nav class="mb-20 p-5 border-gray-500 bg-gray-600/25 flex items-center">
        <a class="dark:text-white text-2xl" href="{{ blog.get_absolute_url }}">{{ blog.name }}</a>
        <ul class="grow flex justify-end">
            {% for category in categories %}
                <li class="mx-5"><a href="{{ category.get_absolute_url }}" class="dark:text-gray-200">{{ category.name }}</a></li>
            {% endfor %}
        </ul>
    </nav>

{% block content %}{% endblock %}

{% endblock %}