{% extends 'pages/base.html' %}

{% block body %}

    {% if user.is_authenticated %}
        <nav class="p-5 border-teal-500 bg-teal-700 flex items-center">
            <a class="dark:text-white text-2xl" href="/dashboard">Gitblog</a>
            <ul class="grow flex justify-end">
                <li class="mx-5"><a href="{% url 'admin_blogs' %}" class="dark:text-gray-200">My Blogs</a></li>
                <li class="mx-5"><a href="" class="dark:text-gray-200">{{ user.name }}</a></li>
                <li class="mx-5"><a href="{% url 'logout' %}" class="dark:text-gray-200">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15m3 0l3-3m0 0l-3-3m3 3H9"></path>
                    </svg>
                </a></li>
            </ul>
        </nav>
    {% endif %}

    {% if blog %}
    <nav class="p-5 border-gray-500 bg-gray-600/25 flex items-center">
        <a class="dark:text-white text-2xl" href="{{ blog.get_absolute_url }}">{{ blog.name }}</a>
        <ul class="grow flex justify-end">
            {% for category in categories %}
                <li class="mx-5"><a href="{{ category.get_absolute_url }}" class="dark:text-gray-200">{{ category.name }}</a></li>
            {% endfor %}
        </ul>
    </nav>
    {% endif %}

{% block content %}{% endblock %}

{% endblock %}