{%  extends 'blogs/base.html' %}

{% block content %}

    <article class="prose dark:prose-invert mx-auto">

        <h1 class="text-2xl mt-10">{{ category.name }}</h1>

        {% include 'blogs/partials/post_list.html' with posts=posts %}

        {% if not posts %}
            <p>
                Looks like {{ blog.name }} has no posts on the <strong>{{ category.name }}</strong> category yet.
                Go <a href="{{ blog.get_absolute_url }}">home</a>.
            </p>
        {% endif %}

    </article>

{% endblock %}