{% extends 'blogs/base.html' %}

{% block content %}

    <style>
        {{ content_css.0 }}
        {{ content_css.1 }}
        .prose .highlight,
        .prose .highlight pre {
            background: none !important;
        }
        pre .gp {
          user-select: none;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
        }
    </style>

    {% if not post.published_at %}
    <div class="p-2 bg-gray-200 dark:bg-gray-900 flex items-center justify-center dark:text-white">
        <span class="text-center"><em>Unpublished draft.</em><br><small>To publish, move this file to <code>/public</code>.</small></span>
    </div>
    {% endif %}

    <article class="prose md:prose-xl dark:prose-invert font-serif mx-5 sm:mx-10 md:mx-auto mt-10
                    prose-a:text-teal-600
                    prose-a:no-underline prose-a:border-b prose-a:border-teal-600/25 hover:prose-a:border-teal-600
                    dark:prose-a:text-teal-500 dark:hover:prose-a:border-teal-600">

        {{ content|safe }}

        <hr>

        <ul>
            {% if previous_post %}
            <li>Previous: <a href="{{ previous_post.get_absolute_url }}">{{ previous_post.title }}</a></li>
            {% endif %}
            {% if next_post %}
            <li>Next: <a href="{{ next_post.get_absolute_url }}">{{ next_post.title }}</a></li>
            {% endif %}
        </ul>
    </article>

{% endblock %}