{% extends 'pages/base.html' %}

{% block body %}

    <section class="container mt-10 mx-auto prose dark:prose-invert">
        <h1>Git + Markdown Blogging</h1>

        <style>
            {{ git_code_styles }}
            pre .gp {
              user-select: none;
              -webkit-user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
            }
        </style>

        {{ git_code_html | safe }}

        <a href="{% url 'github_login' %}"
           class="inline-block my-8 border rounded-full no-underline hover:bg-gray-900 py-5 px-10">
            Login with Github
        </a>
    </section>


{% endblock %}